@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@font-face {
  font-family: "Dream Avenue";
  src: url("../app/fonts/Dream-Avenue.ttf");
}
@font-face {
  font-family: "Mont Light";
  src: url("../app/fonts/Mont-ExtraLightDEMO.otf");
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.links {
  @apply px-3 py-6 bg-gradient-to-t from-[hsl(286,49%,20%)]/75 via-[hsl(288,49%,25%)]/50 to-[hsl(290,49%,29%)]/50 ease-in duration-[250ms] bg-[length:100%_0rem] bg-bottom bg-no-repeat transition-all no-underline hover:bg-[length:100%_100%];
}

.menu-links {
  @apply px-3 py-6 bg-gradient-to-r from-[hsl(286,49%,20%)]/75 via-[hsl(288,49%,25%)]/75 to-[hsl(290,49%,29%)]/75 ease-in duration-[250ms] bg-[length:0%_100%] bg-left bg-no-repeat transition-all no-underline hover:bg-[length:100%_100%];
}

.active {
  @apply bg-[length:100%_100%];
}

.unscrolled {
  @apply transition duration-300 ease-in-out;
}

.scrolled {
  @apply bg-[hsl(289,49%,28%)] transition duration-300 ease-in-out;
}

.closed {
  @apply translate-x-[100%] max-h-0;
}

.open {
  @apply translate-x-0 min-h-screen sticky top-0;
}

.home-photos {
  @apply rounded-lg shadow-lg shadow-[hsl(290,25%,23%)] m-8;
}

.tour {
  @apply w-[95%] lg:w-[90%] my-4 mx-10 h-auto rounded-2xl flex flex-col justify-center items-center border border-white bg-[#1d1d1d] bg-opacity-[85%] gap-8 py-8 relative;
}

.tour::before {
}
